<ion-header class="insurrance-header">
  <ion-toolbar>
    <div class="div-goback" (click)="goback()">
      <img class="img-goback" src="./assets/imgs/ios-arrow-round-back.svg">
    </div>
    <ion-title class="toolbar-title">Bảo hiểm Cathay</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="insurrance-note">
  <div class="note-content">
    <div class="note-icon">
      <ion-row>
        <ion-col class="no-padding text-right" size="6"><img class="logo-insurance" src="./assets/logo/logo_1.svg"></ion-col> 
        <ion-col class="no-padding p-top-12"><div class="text-logo"><label>Bảo hiểm Cathay</label></div>
          <div class="text-logo"><label>Cathay Insurrance</label></div></ion-col> 
      </ion-row>
      
      
    </div>
  <div class="note-title1">QUYỀN LỢI BẢO HIỂM DU LỊCH VÀ CHUYẾN BAY</div>
    <ion-grid class="table-insurrance no-padding p-top-16">
      <ion-row class="row-header row-border">
        <ion-col size="8.5" class="col-border-r col-height p-top-12">
          <ion-label class="label-header text-bold ">QUYỀN LỢI BẢO HIỂM</ion-label>
        </ion-col>
        <ion-col size="3.5" ><ion-label class="label-header text-bold">SỐ TIỀN BỒI THƯỜNG</ion-label></ion-col>
      </ion-row>

      <ion-row class="row-border-no-top">
        <ion-col size="1">
          <ion-label class="label-item text-bold">I</ion-label>
        </ion-col>
        <ion-col size="7.5" class="col-border-lr text-left col-height p-top-12">
          <ion-label class="label-item text-bold">TỬ VONG/ THƯƠNG TẬT THÂN THỂ</ion-label>
        </ion-col>
        <ion-col size="3.5"><ion-label class="label-header">Lên đến 100,000,000vnđ</ion-label></ion-col>
      </ion-row>

      <ion-row  class="row-border-no-top">
        <ion-col size="1">
          <ion-label class="label-item text-bold">II</ion-label>
        </ion-col>
        <ion-col size="7.5" class="col-border-lr text-left">
          <ion-label class="label-item text-bold">DI CHUYỂN Y TẾ KHẨN CẤP ĐẾN NƠI ĐIỀU TRỊ KHÁC HOẶC HỒI HƯƠNG DI HÀI TRONG LÃNH THỔ VIỆT NAM</ion-label>
        </ion-col>
        <ion-col size="3.5"><ion-label class="label-header">Lên đến 50,000,000vnđ</ion-label></ion-col>
      </ion-row>

      <ion-row  class="row-border-no-top">
        <ion-col size="1">
          <ion-label class="label-item text-bold">III</ion-label>
        </ion-col>
        <ion-col size="7.5" class="col-border-lr col-height text-left p-top-12">
          <ion-label class="label-item text-bold">MẤT/THIỆT HẠI HÀNH LÝ</ion-label>
        </ion-col>
        <ion-col size="3.5"><ion-label class="label-header">Lên đến 5,000,000vnđ</ion-label></ion-col>
      </ion-row>

      <ion-row  class="row-border-no-top">
        <ion-col size="1">
          <ion-label class="label-item text-bold">IV</ion-label>
        </ion-col>
        <ion-col size="11" class="col-border-l  text-left">
          <ion-label class="label-item text-bold">TRỄ CHUYẾN BAY (áp dụng 1 lần 1 chuyến bay)</ion-label>
        </ion-col>
      </ion-row>

      <ion-row  class="row-border-no-top">
        <ion-col size="1">
          <ion-label class="label-item">1</ion-label>
        </ion-col>
        <ion-col size="7.5" class="col-border-lr text-left">
          <ion-label class="label-item">Từ 120 - 179 phút</ion-label>
        </ion-col>
        <ion-col size="3.5"><ion-label class="label-header">350,000</ion-label></ion-col>
      </ion-row>

      <ion-row  class="row-border-no-top">
        <ion-col size="1">
          <ion-label class="label-item">2</ion-label>
        </ion-col>
        <ion-col size="7.5" class="col-border-lr text-left">
          <ion-label class="label-item">Từ 180 - 239 phút</ion-label>
        </ion-col>
        <ion-col size="3.5"><ion-label class="label-header">350,000</ion-label></ion-col>
      </ion-row>

      <ion-row  class="row-border-no-top">
        <ion-col size="1">
          <ion-label class="label-item">3</ion-label>
        </ion-col>
        <ion-col size="7.5" class="col-border-lr text-left">
          <ion-label class="label-item">Từ 240 - 299 phút</ion-label>
        </ion-col>
        <ion-col size="3.5"><ion-label class="label-header">700,000</ion-label></ion-col>
      </ion-row>

      <ion-row  class="row-border-no-top">
        <ion-col size="1">
          <ion-label class="label-item">4</ion-label>
        </ion-col>
        <ion-col size="7.5" class="col-border-lr text-left">
          <ion-label class="label-item">Từ 300 - 359 phút</ion-label>
        </ion-col>
        <ion-col size="3.5"><ion-label class="label-header">875,000</ion-label></ion-col>
      </ion-row>

      <ion-row  class="row-border-no-top">
        <ion-col size="1">
          <ion-label class="label-item">5</ion-label>
        </ion-col>
        <ion-col size="7.5" class="col-border-lr text-left">
          <ion-label class="label-item">Từ 360 phút trở lên</ion-label>
        </ion-col>
        <ion-col size="3.5"><ion-label class="label-header">1,000,000</ion-label></ion-col>
      </ion-row>

      <ion-row  class="row-border-no-top">
        <ion-col size="1">
          <ion-label class="label-item text-bold">IV</ion-label>
        </ion-col>
        <ion-col size="11" class="col-border-l text-left">
          <ion-label class="label-item text-bold ">QUYỀN LỢI TRỄ CHUYẾN MỞ RỘNG (áp dụng 1 lần duy nhất)</ion-label>
        </ion-col>
      </ion-row>

      <ion-row  class="row-border-no-top">
        <ion-col size="1">
          <ion-label class="label-item">1</ion-label>
        </ion-col>
        <ion-col size="7.5" class="col-border-lr text-left">
          <ion-label class="label-item">Hủy chuyến bay</ion-label>
        </ion-col>
        <ion-col size="3.5"><ion-label class="label-header">500,000</ion-label></ion-col>
      </ion-row>

      <ion-row  class="row-border-no-top">
        <ion-col size="1">
          <ion-label class="label-item">2</ion-label>
        </ion-col>
        <ion-col size="7.5" class="col-border-lr text-left">
          <ion-label class="label-item">Chuyến bay quay đầu/ hạ cánh xuống sân bay khác</ion-label>
        </ion-col>
        <ion-col size="3.5"><ion-label class="label-header">500,000</ion-label></ion-col>
      </ion-row>

      <ion-row  class="row-border-no-top">
        <ion-col size="1">
          <ion-label class="label-item">3</ion-label>
        </ion-col>
        <ion-col size="7.5" class="col-border-lr text-left">
          <ion-label class="label-item">Hành lý đến trễ</ion-label>
        </ion-col>
        <ion-col size="3.5"><ion-label class="label-header">500,000</ion-label></ion-col>
      </ion-row>

    </ion-grid>

    <div class="note-title2">Hướng dẫn thủ tục yêu cầu bồi thường</div>
    <div class="note-text">Quý khách cần cung cấp đầy đủ các giấy tờ hợp lệ sau:</div>
    
    <div class="note-content-header">1.	BẢO HIỂM TRỄ CHUYẾN:</div>
    <div class="p-left-16">
      <div class="note-content-text">-	Bản chụp hoặc scan Thẻ lên máy bay (Boarding pass) của Người được bảo hiểm</div>
      <div class="note-content-text">-	Bản chụp hoặc scan CMND/ Thẻ Căn Cước / Passport (dành cho đối tượng khách Quốc Tịch Nước Ngoài) / giấy khai sinh (dành cho đối tượng khách là trẻ em)</div>
      <!-- <div class="note-content-text">-	Số tài khoản ngân hàng để nhận bồi thường (theo từng khách). </div> -->
      <div class="note-content-text">-	Thông tin tài khoản ngân hàng để nhận bồi thường (theo từng khách). 
                                        <span class="text-italic">Tên chủ tài khoản phải khớp với tên Người được bảo hiểm trên chứng nhận bảo hiểm</span></div>
      <div class="note-content-text">-	Trường hợp Người được bảo hiểm ủy quyền cho người khác nhận tiền bảo hiểm thì phải có giấy ủy quyền hợp pháp.</div>
      <!-- <div class="note-content-text text-italic">Khách hàng thực hiện yêu cầu bồi thường online <a href="https://ivivu.com">tại đây</a> hoặc gởi email về: <a>tc@ivivu.com</a></div> -->
    </div>
    

    <div class="note-content-header">2.	BẢO HIỂM TRỄ CHUYẾN MỞ RỘNG</div>
    <div class="p-left-16">
      <div class="note-content-sub-header">2.1	TRƯỜNG HỢP HỦY CHUYẾN (áp dụng khi Người được bảo hiểm đã có Thẻ lên máy bay)</div>
      <div class="p-left-16">
        <div class="note-content-text">-	Bản chụp hoặc scan Thẻ lên máy bay (Boarding pass) của Người được bảo hiểm</div>
        <div class="note-content-text text-italic">-	Bản chụp hoặc scan Văn bản xác nhận của Hãng hàng không về việc chuyến bay bị hủy (Nếu có)</div>
        <div class="note-content-text">-	Bản chụp hoặc scan CMND/ Thẻ Căn Cước/ Passport (dành khách Quốc Tịch Nước Ngoài) / giấy khai sinh (dành cho đối tượng khách là trẻ em)</div>
        <!-- <div class="note-content-text">-	Số tài khoản ngân hàng để nhận bồi thường (theo từng khách). </div> -->
        <div class="note-content-text">-  Thông tin tài khoản ngân hàng để nhận bồi thường (theo từng khách). 
                                          <span class="text-italic">Tên chủ tài khoản phải khớp với tên Người được bảo hiểm trên chứng nhận bảo hiểm</span></div>
        <div class="note-content-text">-	Trường hợp Người được bảo hiểm ủy quyền cho người khác nhận tiền bảo hiểm thì phải có giấy ủy quyền hợp pháp.</div>
        <!-- <div class="note-content-text text-italic">Khách hàng thực hiện yêu cầu bồi thường online <a href="https://www.ivivu.com">tại đây</a> hoặc gởi email về: <a>tc@ivivu.com</a></div> -->
      </div>
    </div>

    <div class="p-left-16">
      <div class="note-content-sub-header">2.2	TRƯỜNG HỢP MÁY BAY QUAY ĐẦU HOẶC ĐÁP XUỐNG SÂN BAY KHÁC VÀ HÀNH LÝ ĐẾN TRỄ</div>
      <div class="p-left-16">
        <div class="note-content-text">-	Văn bản xác nhận của Hãng hàng không về việc chuyến bay bị hủy, quay đầu hoặc hạ cánh xuống sân bay khác.</div>
        <div class="note-content-text">-	Văn bản xác nhận của hãng hàng không hoặc đơn vị chịu trách nhiệm về ngày giờ thực tế hành lý được vận chuyển đến trong trường hợp hành lý đến trễ</div>
        <div class="note-content-text">-	Vé máy bay/thẻ lên máy bay hoặc chứng minh đã lên máy bay của người được bảo hiểm</div>
        <div class="note-content-text">-	Giấy yêu cầu trả tiền bảo hiểm theo mẫu của Cathay</div>
        <div class="note-content-text">-	Giấy tờ tùy thân của người được bảo hiểm (Giấy CMND hoặc hộ chiếu)</div>
        
        
        
        <!-- <div class="note-content-text text-italic">Khách Hàng gởi hồ sơ (bản gốc) về Bộ phận Bồi thường Cathay</div> -->
      </div>
    </div>

    <div class=" p-left-16">
      <div class="note-content-sub-header">2.3	TRƯỜNG HỢP MẤT HOẶC THIỆT HẠI HÀNH LÝ</div>
      <div class="p-left-16">
        <div class="note-content-text">-	Thẻ lên máy bay (Boarding pass) của người được bảo hiểm</div>
        <div class="note-content-text">-	Biên bản báo cáo về việc mất hoặc thiệt hại hành lý từ hãng vận chuyển/ Khách Sạn/…</div>
        <div class="note-content-text">-	Biên bản của cảnh sát cho biết ngày, giờ và nguyên nhân mất hoặc thiệt hại</div>
        <div class="note-content-text">-	Danh sách đồ vật mất hay thiệt hại (nêu chi tiết)</div>
        <div class="note-content-text">-	Tất cả hóa đơn bản chính của đồ vật bị mất hay thiệt hại</div>
        <div class="note-content-text">-	Bảng báo giá/ hóa đơn sửa chữa hoặc thay thế</div>
        <div class="note-content-text">-	Văn bản xác nhận của hãng vận chuyển hoặc bên thứ ba chịu trách nhiệm về số tiền có thể thu hồi</div>
        <div class="note-content-text">-	Giấy yêu cầu trả tiền bảo hiểm (theo mẫu cả Cathay)</div>
        <div class="note-content-text">-	Giấy tờ tùy thân của người được bảo hiểm (CMND/ Thẻ căn cước/ Passport)</div>
        <!-- <div class="note-content-text text-italic">Khách Hàng gởi hồ sơ (bản gốc) về Bộ phận Bồi thường Cathay</div> -->
      </div>
    </div>
    
    <div class="note-content-header">3.	BẢO HIỂM TỬ VONG, THƯƠNG TẬT</div>
    <div class="p-left-16">
      <div class="note-content-text">-	Giấy chẩn đoán, hồ sơ bệnh án, giấy xác nhận phẫu thuật, giấy ra viện, hóa đơn chi phí y tế liên quan sự kiện bảo hiểm</div>
      <div class="note-content-text">-	Xác nhận điều trị của cơ quan y tế (giấy ra viện, phiếu điều trị và giấy tờ liên quan đến sự kiện bảo hiểm)</div>
      <div class="note-content-text">-	Giấy chứng tử và giấy xác nhận quyền thừa kế (trong trường hợp tử vong).</div>
      <div class="note-content-text">-	Biên bản xác nhận cơ quan du lịch, chính quyền địa phương, hoặc công an nơi xẩy ra sự kiện bảo hiểm</div>
      <div class="note-content-text">-	Trường hợp yêu cầu chi trả cho di chuyển y tế khẩn cấp và Hồi hương di hài thì cung cấp đầy đủ chi tiết các chứng từ hợp lệ liên quan đến việc thanh toán như hóa đơn, biên lai, phiếu thu theo quy định của pháp luật.</div>
      <div class="note-content-text">-	Trường hợp ủy quyền cho người khác nhận tiền, phải có giấy ủy quyền hợp pháp</div>
      <div class="note-content-text">-	Cathay sẽ lưu giữ bản gốc các giấy tờ trên và không hoàn trả lại.</div>
      
      <div class="note-content-text">-	Giấy yêu cầu trả tiền bảo hiểm (theo mẫu của Cathay)</div>
      <div class="note-content-text">-	Hợp đồng bảo hiểm/giấy chứng nhận bảo hiểm</div>
      <div class="note-content-text">-	CMND/ Thẻ căn cước/ Hộ chiếu (sao y công chứng hoặc bản photo kèm bản chính để đối chiếu khi nộp hồ sơ)</div>
      
      
      <div class="note-content-text text-italic text-bold p-top-24">Ngay khi xảy ra sự cố tai nạn, quý khách cần gọi ngay cho Bảo Hiểm Cathay để được hỗ trợ các vấn đề liên quan.</div>
      <div class="note-content-text p-top-16">-  Yêu cầu bồi thường trễ chuyến hoặc hủy chuyến: Khách hàng thực hiện qua APP – Mobile của iVIVU hoặc gởi email về: <a href="https://www.ivivu.com">tc@ivivu.com</a></div>
      <div class="note-content-text p-top-16">-  Các trường hợp bồi thường khác: Khách hàng cần chuẩn bị các thủ tục như hướng dẫn và gửi hồ sơ (bản gốc) về Bộ phận Bồi thường Cathay trong vòng 30 ngày từ ngày kết thúc hiệu lực hợp đồng bảo hiểm</div>

      <div class="text-italic p-top-16">Bộ phận Bồi thường Bảo Hiểm Cathay</div>
      <div class="note-content-text">
        <ion-row>
          <ion-col size="4" class="no-padding">Địa chỉ</ion-col>
          <ion-col size="8" class="no-padding">:Lầu 6, số 46-48-50, Phạm Hồng Thái, P. Bến Thành, Quận 1, TPHCM</ion-col>
        </ion-row>
      </div>
      <div class="note-content-text">
        <ion-row>
          <ion-col size="4" class="no-padding">Số điện thoại</ion-col>
          <ion-col size="8" class="no-padding">:(028)6288 8385</ion-col>
        </ion-row>
      </div>
      <div class="note-content-text">
        <ion-row>
          <ion-col size="4" class="no-padding">Hotline</ion-col>
          <ion-col size="8" class="no-padding text-bold">:HCM: 0933 555 920 & Hà Nội: 0938 999 549</ion-col>
        </ion-row>
      </div>
      <div class="note-content-text">
        <ion-row>
          <ion-col size="4" class="no-padding">Email:</ion-col>
          <ion-col size="8" class="no-padding"><a>service@cathay-ins.com.vn</a></ion-col>
        </ion-row>
      </div>
      <!-- <div class="note-content-text hot-line text-bold p-top-8" >Hotline bồi thường:  <span class="text-callcenter" (click)="makeCallSupport('0933555920')">HCM: 0933 555 920</span> & <span class="text-callcenter" (click)="makeCallSupport(0938999549)">Hà Nội: 0938 999 549</span></div> -->
    </div>
    
  </div>
</ion-content>
