
   
    .img-show-oldpassword{
        position: absolute;
        right: 0;
        top: 43px;
        padding: 16px 0;
        width: 30px;
        height: 45px;
        margin-right: 20px;
        border-bottom: solid 1px #cdcdcd;
    }

    .img-show-newpassword{
        position: absolute;
        right: 0;
        top: 111px;
        padding: 16px 0;
        width: 30px;
        height: 45px;
        margin-right: 20px;
        border-bottom: solid 1px #cdcdcd;
    }

    .btn-changepass{
        border-color: #f79221 !important;
        color: #ffffff !important;
        background: #f79221 !important;
        width: 91%;
        margin: 16px;
    }

    .ico-eye{
        width:28px;
        height: 33px;
        border-bottom: solid 1px #ccc;
    }