<ion-header class="experiencefilter-header">
    <ion-row>
        <ion-col class="col-header"><ion-title class="text-title">Lọc</ion-title></ion-col>
          <img class="img-close" style="max-width: 150%" src="./assets/ic_close.svg" (click) = "close()">
    </ion-row>
</ion-header>

<ion-content class="experiencefilter-content" padding style="--padding-top:0">
  <!-- Khu vực (childregion) -->
  <div class="cls-experiencefilter-local cls-padding-top" *ngIf="dataLocal && dataLocal.length >0">
      <ion-label class="text-title">
        Khu vực
        </ion-label>
        <div class="item-style p-top">
            <div *ngFor="let itemLocal of dataLocal; let i = index" attr.name="{{ itemLocal.name }}" id="{{itemLocal.id}}" class="cls-col-border local-item-{{itemLocal.id}}" (click)="itemClick($event,'local',itemLocal.id)" >
                <label *ngIf="!itemLocal.totalPlace else countplace">{{ itemLocal.name }}</label>
                <ng-template #countplace><label >{{ itemLocal.name }} ({{itemLocal.totalPlace}})</label></ng-template>
            </div>
        </div>
  </div>
  <!-- Khu vực (subregion)-->
  <div class="cls-experiencefilter-local cls-padding-top" *ngIf="dataSubRegion && dataSubRegion.length >0">
    <ion-label class="text-title">
      Khu vực
      </ion-label>
      <div class="item-style p-top">
          <div *ngFor="let itemSubRegion of dataSubRegion; let i = index" attr.name="{{ itemSubRegion.name }}" id="{{itemSubRegion.id}}" class="cls-col-border subregion-item-{{itemSubRegion.id}}" (click)="itemClick($event,'subregion',itemSubRegion.id)" >
             <label *ngIf="!itemSubRegion.totalPlace">{{ itemSubRegion.name }}</label> 
             <label *ngIf="itemSubRegion.totalPlace">{{ itemSubRegion.name }} ({{itemSubRegion.totalPlace}})</label> 
            </div>
      </div>
</div>
  <!-- Loại hình -->
  <div class="cls-order-style cls-padding-top" *ngIf="dataHotelType && dataHotelType.length >0">
      <ion-label class="text-title">
       Loại hình
        </ion-label>
        <div class="item-style p-top">
            <div *ngFor="let itemHotelType of dataHotelType; let i = index" attr.name="{{ itemHotelType.name }}"  id="{{itemHotelType.placeTagId}}" class="cls-col-border hoteltype-item-{{itemHotelType.placeTagId}}" (click)="itemClick($event,'hoteltype',itemHotelType.placeTagId)" >
                <label *ngIf="!itemHotelType.totalPlace else counthoteltypeplace">{{ itemHotelType.name }}</label>
                <ng-template #counthoteltypeplace ><label >{{ itemHotelType.name }} ({{itemHotelType.totalPlace}})</label></ng-template>
            </div>
        </div>
  </div>
  <!-- Giờ hoạt động -->
  <div class="cls-order-style cls-padding-top" *ngIf="dataHourOpen && dataHourOpen.length >0">
      <ion-label class="text-title">
        Giờ hoạt động
        </ion-label>
        <div class="item-style p-top">
            <div *ngFor="let itemHourOpen of dataHourOpen; let i = index" attr.name="{{ itemHourOpen.name }}"  id="{{itemHourOpen.id}}" class="cls-col-border houropen-item-{{itemHourOpen.id}}" (click)="itemClick($event,'houropen',itemHourOpen.id)" >
                <label *ngIf="!itemHourOpen.totalPlace else countwhplace">{{ itemHourOpen.name }}</label>
                <ng-template #countwhplace ><label >{{ itemHourOpen.name }} ({{itemHourOpen.totalPlace}})</label></ng-template>
            </div>
        </div>
  </div>
   <!-- Khoảng cách -->
   <div class="cls-order-style cls-padding-top" *ngIf="dataDistance && dataDistance.length >0">
      <ion-label class="text-title">
        Khoảng cách
        </ion-label>
        <div class="item-style p-top">
            <div *ngFor="let itemDistance of dataDistance; let i = index" attr.name="{{ itemDistance.name }}"  id="{{itemDistance.id}}" class="cls-col-border distance-item-{{itemDistance.id}}" (click)="itemClick($event,'distance',itemDistance.id)" >
                <label *ngIf="!itemDistance.totalPlace else countdistanceplace">{{ itemDistance.name }}</label>
                <ng-template #countdistanceplace ><label >{{ itemDistance.name }} ({{itemDistance.totalPlace}})</label></ng-template>
            </div>
        </div>
  </div>
  <!-- Phong cách -->
  <div class="cls-order-style cls-padding-top" *ngIf="dataStyle && dataStyle.length >0">
        <ion-label class="text-title">
           Phong cách
          </ion-label>
          <div class="item-style p-top">
              <div *ngFor="let itemStyle of dataStyle; let i = index" attr.name="{{ itemStyle.name }}"  id="{{itemStyle.placeTagId}}" class="cls-col-border style-item-{{itemStyle.placeTagId}}" (click)="itemClick($event,'style',itemStyle.placeTagId)" >
                <label *ngIf="!itemStyle.totalPlace else countstyleplace">{{ itemStyle.name }}</label>
                <ng-template #countstyleplace ><label >{{ itemStyle.name }} ({{itemStyle.totalPlace}})</label></ng-template>
                </div>
          </div>
    </div>
</ion-content>
<ion-footer style="overflow:hidden">
        <!-- <div class="group-button"  style="overflow:hidden"> -->
                <button ion-button round outline class="button btncancel" [class.click]=" ischeckbtnreset==true " [class.none]=" ischeckbtn==true " (click)="clickCancel()">Xóa lọc</button>
                <button ion-button round outline class="button btnok" [class.click]=" ischeckbtn==true " [class.none]=" ischeckbtnreset==true " (click)="clickOk()">Xem {{ dataafterfilter.length }} địa điểm</button>
            <!-- </div> -->
</ion-footer>

